{
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true // Allows for the parsing of JSX
    }
  },
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint"
  ],
  "plugins": ["prettier", "@typescript-eslint", "react"],
  "rules": {
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "semi": ["error", "never"],
    "quotes": [2, "single"],
    "jsx-quotes": [2, "prefer-single"],
    "react/display-name": 0,
    "no-console": 1,
    "no-alert": 1,
    "import/no-cycle": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/named": 0,
    "jsx-a11y/rule-name": 0,
    "jsx-a11y/control-has-associated-label": [ 0, {
      "labelAttributes": ["label"],
      "controlComponents": ["CustomComponent"],
      "ignoreElements": [
        "audio",
        "canvas",
        "embed",
        "input",
        "textarea",
        "tr",
        "video"
      ],
      "ignoreRoles": [
        "grid",
        "listbox",
        "menu",
        "menubar",
        "radiogroup",
        "row",
        "tablist",
        "toolbar",
        "tree",
        "treegrid"
      ],
      "depth": 3
    }],
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "react-hooks/exhaustive-deps": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-props-no-spreading": 0
  },
  "env": {
    "browser": true,
    "jasmine": true,
    "jest": true,
    "node": true,
    "es6": true
  },
  "settings": {
    "react": {
      "version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use,
    },
    "import/resolver": {"webpack": {
      "config": "webpack.config.js"
    }}
  }
}